In [53]:
import pandas as pd

In [54]:
df=pd.read_csv('spotify_millsongdata.csv')

In [55]:
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [56]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [57]:
df.shape

(57650, 4)

In [58]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [59]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [60]:
df['text'][0]

"Hated by all and everywhere he goes  \r\nBlazing contempt for human life and lies  \r\nMurder as art and what he knows he knows  \r\nFrom life and fear in other people's eyes  \r\n  \r\nCrazy love is all around me  \r\nLove is crazy love is kind  \r\nBut I know somehow you'll find me  \r\nLove is crazy love is blind  \r\n  \r\nShe walks the boulevard without a care  \r\nKnowing too much but having come so far  \r\nPretending life is just a game you play for nothing  \r\nLoving no one and no where  \r\n  \r\nCrazy love is all around me  \r\nLove goes crazy given time  \r\nBut I know somehow you'll find me  \r\nLove is crazy love is blind  \r\n  \r\nShe looks as if expecting a surprise  \r\nMaybe an encounter that will change her life  \r\nNot knowing hot from cold or good for bad  \r\nIf life is just a joke or if it makes her sad  \r\n  \r\nCrazy love is all around me  \r\nLove is crazy love is kind  \r\nBut I know somehow you'll find me  \r\nLove is crazy love is blind  \r\n  \r\nCrazy love is all around me  \r\nLove goes crazy given time  \r\nBut I know somehow you'll find me  \r\nLove is crazy love is blind\r\n\r\n"

In [61]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex=True)

In [62]:
df

,artist,song,text
0,Marianne Faithfull,Crazy Love,hated by all and everywhere he goes \r blazin...
1,R. Kelly,I Mean I Don't Mean It,"yeah, like i was saying \r i ain't, ya know w..."
2,Steve Miller Band,True Fine Love,i ain't complainin' \r but i'd sure like to f...
3,Loretta Lynn,I'll Still Be Missing You,i'll still be missing you \r just as long as ...
4,Neil Diamond,Headed For The Future,"hey, we're headed for the future \r give us s..."
...,...,...,...
4995,Natalie Imbruglia,Against The Wall,saw your light on \r from the second story \...
4996,Roy Orbison,I Wanna Live,"flowers have blooms, the oceans have waves. \..."
4997,Queensryche,I Will Remember,there's a cold wind out tonight \r the chill ...
4998,Cake,You Part The Waters,the same ones that i'm drowning in. \r you le...
4999,Green Day,J.A.R.,"my friend drove off the other day, \r and now..."

In [63]:
from nltk.stem.porter import PorterStemmer
import nltk
import torch

In [64]:
stemmer=PorterStemmer()

In [65]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [66]:
# import nltk
# nltk.download('punkt')
# df=df.sample(5000)
token('you are beautiful, beauty')

'you are beauti , beauti'

In [67]:
df['text'].apply(lambda x:token(x))

0       hate by all and everywher he goe blaze contemp...
1       yeah , like i wa say i ai n't , ya know what i...
2       i ai n't complainin ' but i 'd sure like to fi...
3       i 'll still be miss you just as long as the su...
4       hey , we 're head for the futur give us some r...
                              ...
4995    saw your light on from the second stori so i w...
4996    flower have bloom , the ocean have wave . the ...
4997    there 's a cold wind out tonight the chill of ...
4998    the same one that i 'm drown in . you lead you...
4999    my friend drove off the other day , and now he...
Name: text, Length: 5000, dtype: object

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [69]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [70]:
matrix=tfid.fit_transform(df['text'])
matrix

<5000x23944 sparse matrix of type '<class 'numpy.float64'>'
	with 269231 stored elements in Compressed Sparse Row format>

In [71]:
similar=cosine_similarity(matrix)

In [72]:
similar[0]

array([1.        , 0.03301629, 0.09193961, ..., 0.02167416, 0.0105165 ,
       0.09271121])

In [73]:
df[df['song']=='Love'].index[0]

581

In [74]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [75]:
recommender(song_name='You')

['Mean Mean Man',
 "I Mean I Don't Mean It",
 'Story',
 'True Love Is Hard To Find',
 "I Didn't Mean It",
 'The Things We Do',
 'Scars',
 'Here',
 'Back In The Crowd',
 'Head And Heart',
 "Life Worth Livin'",
 'Songs From An American Movie Pt.2',
 'Quiet Evening',
 'All About You',
 'Turn Off The World',
 'True To Myself',
 'Look At Us',
 'Sorry',
 'The Girl In The Dirty Shirt',
 'Love Song']

In [76]:
import pickle

In [77]:
pickle.dump(similar,open('pkls/similarity.pkl','wb'))

In [78]:
pickle.dump(df,open('pkls/df.pkl','wb'))